# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
**/bin/
**/obj/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# ASP.NET Core
appsettings.Development.json

# Rider / VSCode (nếu có)
.vscode/
.idea/